<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>credit demand evaluation</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>credit demand evaluation</h1>

     <!-- Form to enter new data for predictions  -->
    <form action="{{ url_for('predict')}}"method="POST">
      <input type="number" name="Age" placeholder="Age" required="required" /><br>
    	<input type="text" name="Sex" placeholder="Sex" required="required" /><br>
        <input type="number" name="Job" placeholder="Job" required="required" /><br>
        <input type="text" name="Housing" placeholder="Housing" required="required" /><br>
        <input type="text" name="Saving accounts " placeholder="Saving accounts" required="required" /><br>
        <input type="text" name="Checking account" placeholder="Checking account" required="required" /><br>
        <input type="number" name="Credit amount" placeholder="Credit amount" required="required" /><br>
        <input type="number" name="Duration" placeholder="Duration" required="required" /><br>
        <input type="text" name="Purpose" placeholder="Purpose" required="required" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{pred}}

</body>
</html>